@charset "utf-8";

@import "font.css";
@import "normalize.css";

/* reset common css */
* { box-sizing: border-box; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
body {background:#fff}
body,th,td,input,select,textarea,button {font-size:14px;line-height:1.5;font-family:'Nanum Gothic','돋움',dotum,sans-serif;color:#222}
a {color:#222;text-decoration:none}
/*a:active, a:hover {text-decoration:underline}*/
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
hr{border:.5px solid #e8e8e8;}

table {border-collapse:collapse;border-spacing:0}
button {border:0;outline:0}
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {display:block}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{-webkit-appearance:none;}
input[type=number]{-moz-appearance:textfield;}
textarea{resize:none;}
input {border: none;}
.bg_dark {
    background: #444;
}
html, body {
	height: 100%;
}
#wrap {
	padding-bottom: 80px;
	min-height: 100%;
}

/* header */
.hd_container {
	position: relative;
	width: 100%;
	background-color: #444;
	z-index: 9899;
}
.header_top {
    padding: 20px 10px 0px;
}
.header_top .welcome_msg {
	padding-bottom: 5px;
	text-align: right;
	color: #fff;
}
.header_top .util_wrap {
    display: flex;
    justify-content: flex-end;
}
.header_top .util_wrap li {
	color: #fff;
}
.header_top .util_wrap li+li:before {
    content: '|';
    padding: 0 6px;
    color: #fff;
}
.header_top .util_wrap a {
    color: #fff;
}
.logo {
    margin-top: 20px;
    margin-bottom: 35px;
	text-align: center;
}
.logo > a {
	display: inline-block;
    color: #fff;
}

/* gnb */
.header_gnb {
	position: relative;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #838383;
}
.dis_center {
    width: 1260px;
    margin: 0 auto;
}
#gnb_wrap {
    display: table;
    table-layout: fixed;
    width: 100%;
}
#gnb_wrap > li {
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    line-height: 40px;
}
#gnb_wrap>li>a {
	position: relative;
    display: inline-block;
	color: #fff;
	font-size: 18px;
	padding: 5px 20px;
}
#gnb_wrap>li>a:after {
	content: '';
	position: absolute;
	left: 0px;
	bottom: 0;
	width: 0;
	height: 5px;
	border-radius: 5px;
	background-color: #ff9b00;
	opacity: 0;
	transition: 0.5s;
}
#gnb_wrap>li>a:hover:after,
#gnb_wrap>li>a:focus:after,
#gnb_wrap>li>a.on:after {
	width: 100%;
	opacity: 1;
}
.gnb_2depth {
	position: absolute;
	top: 50px;
	left: 0px;
	width: 100%;
	background: #fff;
    border-bottom: 1px solid #eaeaea;
	display: none;
}
.gnb_2depth>div>ul::after {
    content: '';
    display: block;
    clear: both;
}
.gnb_2depth>div>ul>li {
	float: left;
}
.gnb_2depth>div>ul>li:last-child {
	margin-right: 0px;
}
.gnb_2depth>div>ul>li>a {
	padding: 5px 10px;
	font-size: 16px;
	color: #000;
}
.gnb_2depth>div>ul>li>a:hover,
.gnb_2depth>div>ul>li>a:focus {
	color: #ff8400;
}
.l_book {
    margin-left: 250px;
}
.l_lost {
    margin-left: 900px;
}

/* error */
.error_wrap {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items:center;
}
.error_wrap .img_wrap {
	width: 400px;
}
.error_wrap .img_wrap img{
	display: block;
	width: 100%;
}
.error_message .tit {
	font-size: 26px;
	line-height: 1;
	margin-bottom: 8px;
	text-align: center;
}
.error_message .txt {
	font-size: 16px;
}
.error_message .btn_wrap {
	text-align: right;
	margin: 10px 0 130px;
}
.error_message .btn_prev {
	text-align: right;
	color: #f30;
	font-weight: 700;
}


/*pagination*/
.pagination {
	display: flex;
    justify-content: center;
    margin-top: 30px;
}
.pagingWrap:after,
.pageLeft:after,
.pageRight:after{
    content: ""; display: block; clear: both;
}
.pagination button + button{
    margin-left: 6px;
}
.pagination button:hover,
.pagination button:active{
    background-color: #f8f8f8;
}
.pagination button:disabled:hover,
.pagination button:disabled:active{
    background-color: #ffffff;
}
.pageLeft{
    display: inline-block;
}
.pageLeft button{
    float: left;
    width: 36px;
    height: 36px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -9999px;
    overflow: hidden;
}
.pageLeft .btnFirst{
    background-image: url(../images/btnFirst.png);
    background-size: 13px 12px;
}
.pageLeft .btnFirst:disabled{
    background-image: url(../images/btnFirstDisabled.png);
    background-size: 13px 12px;
}
.pageLeft .btnPrev{
    background-image: url(../images/btnPrev.png);
    background-size: 7px 12px;
}
.pageLeft .btnPrev:disabled{
    background-image: url(../images/btnPrevDisabled.png);
    background-size: 7px 12px;
}
.pageRight{
    display: inline-block;
}
.pageRight button{
    float: left;
    width: 36px;
    height: 36px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -9999px;
    overflow: hidden;
}
.pageRight .btnNext{
    background-image: url(../images/btnNext.png);
    background-size: 7px 12px;
}
.pageRight .btnNext:disabled{
    background-image: url(../images/btnNextDisabled.png);
    background-size: 7px 12px;
}
.pageRight .btnLast{
    background-image: url(../images/btnLast.png);
    background-size: 13px 12px;
}
.pageRight .btnLast:disabled{
    background-image: url(../images/btnLastDisabled.png);
    background-size: 13px 12px;
}
.pagingWrap{
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
}
.pagingWrap li{
    float: left;
    width: 36px;
    height: 36px;
}
.pagingWrap li a{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 36px;
    font-size: 14px;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    text-align: center;
    background-color: #ffffff;
}
.pagingWrap li.on a,
.pagingWrap li a:hover,
.pagingWrap li a:active{
    font-weight: 800;
    background-color: #f8f8f8;
}

