@charset "utf-8";

@import "font.css";
@import "normalize.css";

/* setting common css */
body {font-family: 'Nanum Gothic', sans-serif; font-size:14px; color:#222;}
li {list-style:none;}
a {color:#222; text-decoration:none;}
img{ vertical-align:top;}
